// theme color
$primary: #595add;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

//textcolor
$text-primary: #403e66;
$text-title: #686592;
//bgcolor
$bg-hero: #f5f5f5;

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: 1px;
$base-border-radius: 20px;
